* {
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.navbar {
    height: 80px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navlogo {
    width: 140px;
    height: 70px;
}

.logo {
    width: 100%;
    height: 100%;
    background-image: url("assets/amazon_logo.png");
    background-size: cover;
}

.border {
    border: 1px solid transparent;
}

.border:hover {
    border: 1px solid white;
}

.add-icon {
    display: flex;
    align-items: center;
}

.nav-search {
    display: flex;
    justify-content: space-evenly;
    width: 700px;
    height: 40px;
    border-radius: 4px;
    background-color: gold;
}

.nav-search:hover {
    border: 2px solid gold;
}

.search-select {
    background-color: #f3f3f3;
    width: 40px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    display: flex;
    justify-content: center;
    width: 45px;
    align-self: center;
    font-size: 1.3rem;
}

span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-weight: bold;
}

.categories {
    height: 39px;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-evenly;
}

.categories-all {
    position: relative; /* Added for dropdown positioning */
    font-weight: bold;
}

.categories-options {
    width: 827px;
    display: flex;
    justify-content: space-evenly;
}

.categories-options a,
.categories-deals {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.categories-options a:hover,
.categories-deals:hover {
    color: #ffd700;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 20px;
    background-image: url("assets/hero_image.jpg");
    height: 380px;
    background-size: cover;
}

.hero-msg {
    position: relative;
    background-color: white;
    color: black;
    height: 40px;
    width: 80%;
    display: flex;
    bottom: 25px;
    justify-content: center;
    align-items: center;
}

.shop-section {
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 23%;
    background-color: white;
    height: 450px;
    border: 2px solid white;
}

.img-box {
    margin-left: 15px;
    width: 300px;
    height: 350px;
    margin-bottom: 20px;
    background-size: cover;
}

.img1 {
    background-image: url("assets/box2_image.jpg");
}

.img2 {
    background-image: url("assets/box1_image.jpg");
}

.img3 {
    background-image: url("assets/box3_image.jpg");
}

.img4 {
    background-image: url("assets/box4_image.jpg");
}

.img5 {
    background-image: url("assets/box5_image.jpg");
}

.img6 {
    background-image: url("assets/box6_image.jpg");
}

.img7 {
    background-image: url("assets/box7_image.jpg");
}

.img8 {
    background-image: url("assets/box8_image.jpg");
}

.back-top {
    width: 100%;
    height: 70px;
    background-color: #222f3d;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e2e7e6;
}

.footer-body {
    width: 100%;
    height: 600px;
    background-color: #0F1111;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-info1 {
    display: flex;
    flex-direction: column;
    width: 139px;
    height: 318px;
    color: white;
    font-size: medium;
}

.footer-info1 ul {
    list-style: none;
    padding: 0;
}

.footer-info1 ul li {
    padding-top: 25px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.nav-signin:hover .dropdown-content,
.categories-all:hover .dropdown-content {
    display: block;
}
